html
  overflow hidden

.fill-width
  width 100%

.fill-height
  height 100%

.flex-center
  display flex
  align-items center
  justify-content center

.scroll
  overflow auto

.limit-width-120
  limit-width(120px)

.limit-width-332
  limit-width(332px)

.limit-width-232
  limit-width(232px)

.font-size-24
  font-size 24px !important

.font-size-16
  font-size 16px !important

.font-size-14
  font-size 14px !important

.font-size-12
  font-size 12px !important

.font-size-11
  font-size 11px !important

.font-size-10
  font-size 10px !important

.pointer
  cursor pointer

.border-radius-0
  border-radius 0

.default-layout > div
  height 100%

*
  scrollbar-width: thin;
  scrollbar-color: blue white;

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar
  width: 6px;

*::-webkit-scrollbar-track
  background: white;

*::-webkit-scrollbar-thumb
  background-color: #bababa;
  border-radius: 6px;