// Slide-fade
.slide-fade-enter-active {
  transition: all 0.2s ease;
}
.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

// Grow-up
.grow-up-enter-active {
  transition: all .2s ease;
}
.grow-up-leave-active {
  transition: all 0.1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.grow-up-enter, .grow-up-leave-to {
  transform: scale(0.9);
  opacity: 0;
}

// List vertical
.vertical-list-effect-item 
  width 100%
  display inline-block
  margin-right 10px
.vertical-list-effect-leave-active 
  width 100%
  position absolute
.vertical-list-effect-enter-active, .vertical-list-effect-leave-active 
  width 100%
.vertical-list-effect-enter-active
  transition all 0.1s
.vertical-list-effect-leave-active 
  transition all 0s
.vertical-list-effect-enter, .vertical-list-effect-leave-to 
  width 100%
  opacity 0
  transform translateX(10px)
