@import './effects.scss';
@import './mixins.scss';
@import './helpers.scss';

html {
  background-color: rgb(250, 250, 250);
}

* {
  box-sizing: border-box;
}

body.desktop .q-hoverable:hover > .q-focus-helper {
  opacity: 0.1;
}

.borders-y {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0 !important;
}

.global-loader {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
